/*  clone 1 */
.box {
  border: 5px none;
  margin: 50px auto;
  padding: 10px;
  background: linear-gradient(rgb(62, 223, 142), rgb(64, 238, 157));
  width: 650px;
  height: 550px;
  border-radius: 15px;
}

.heading {
  font-size: 55px;
  margin: 160px;
  margin-left: 70px;
  margin-bottom: 0px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400px;
  font-style: normal;
  line-height: 1;
}

.para {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 70px;
  font-weight: 200px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}
.btn-share {
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  margin-left: 70px;
  width: 250px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}

/*  clone 2 */
.box2 {
  width: 500px;
  border: 1px solid lightgray;
  margin: 150px auto;
  border-radius: 12px;
}

.paddingBox {
  padding: 40px;
}

.title2 {
  color: #202124;
  font-weight: 500;
  margin: 0;
}

.para2 {
  color: #6d7175;
  font-weight: 500;
  margin: 15px 0px;
}

.profile-image {
  padding-top: 25px;
}

.profile-image {
  width: 25%;
  height: 75px;
  border-radius: 50%;
  padding: 0px 35px;
}

.innerBox {
  border-top: 1px solid lightgray;
}

.btn-2 {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  border: none;
  background: #fff;
  color: #1c73e8;
  text-align: left;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 18px;
}

/* clone3 */

.box3 {
  width: 500px;
  border: 1px solid lightgray;
  margin: 150px auto;
  border-radius: 12px;
}

.box-image {
  width: 100%;
  height: 20%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.boxContent {
  padding: 20px 30px;
}

.lock {
  width: 25px;
  position: absolute;
  margin-top: 20px;
}

.para3 {
  position: reletive;
  padding-left: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.para3,
.para4 {
  color: #6d7175;
  font-size: 20px;
}

.para4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-stretch: semi-expanded;
}

.title3 {
  color: #202124;
  font-weight: 500;
  margin: 0;
  font-size: 26px;
}

.btn3 {
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #fff;
  color: #1c73e8;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  margin: 10px 0px;
}

/* Clone4 */

.boxC {
  border-top: 1px solid gray;
  margin: 0px 10%;
}

.box4 {
  width: 350px;
  margin: 70px auto;
  text-align: center;
}

.title-4 {
  font-size: 65px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.title-5 {
  margin: 0 0 30px 0px;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.btn-login {
  color: white;
  background: black;
  border: none;
  border-radius: 40px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}

.signup {
  font-size: 15px;
  margin: 0;
  color: rgb(177, 177, 177);
}

.signup-link {
  font-size: 15px;
  color: rgb(106, 106, 106);
}

.terms {
  color: rgb(177, 177, 177);
  font-size: 13px;
}

.terms a {
  color: rgb(177, 177, 177);
}

.inner-box-margin {
  margin-bottom: 45px;
}
